<nav class="navbar">
	<div class="navbar-head">
		<a href="/" {% if page.url == "/" %}style="color: #FFFFFF;"{% endif %}>
			<i class="fas fa-calculator"></i>
			<b>NTU-CALAB</b>
		</a>
	</div>

	<button class="nav-collapse-button" id="collapsed">
		<i class="fas fa-bars"></i>
	</button>

	<script>
		$('.nav-collapse-button').click(function() {
			var thisId = $(this).attr('id')
			if ( thisId == 'collapsed'){
				$('.navbar-opts').css({'display':'inline'});
				$(this).attr('id','shown');
			} else if ( thisId == 'shown') {
				$('.navbar-opts').css({'display':'none'});
				$(this).attr('id','collapsed');
			}
		});
	</script>

	<div class="navbar-opts">
		<ul>
		{% for item in site.data.nav %}
			<li>
				<a href="{{ item.link }}" {% if page.url == item.link %}style="color: #FFFFFF;"{% endif %}>
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>

 </nav>

 <script>
 	const debounce = (fn) =>{
		let frame;
		return (...params) =>{
			if (frame){
				cancelAnimationFrame(frame);
			}
			frame = requestAnimationFrame(() => {
				fn(...params);
			});
		}
	};
	const storeScroll = () => {
		document.documentElement.dataset.scroll = window.scrollY;
	};

	document.addEventListener('scroll',debounce(storeScroll), {passive:true});
	storeScroll();
 </script>
