<nav id="nav">
	<div id="links">
		<a href="/" {% if page.url == "/" %}style="color: #FFFFCC;"{% endif %}>
			<i class="fas fa-calculator"></i>
			<b>NTU-CALAB</b>
		</a>
		{% for item in site.data.nav %}
		<a href="{{ item.link }}" {% if page.url == item.link %}style="color: #FFFFCC;"{% endif %}>
					{{ item.name }}
		</a>
		{% endfor %}
	</div>

	<div id="more">
		<span id="more-label">More</span>
		<div id="overflow">
		</div>
	</div>
</nav>

<script>
	const debounce = (fn) =>{
		let frame;
		return (...params) =>{
			if (frame){
				cancelAnimationFrame(frame);
			}
			frame = requestAnimationFrame(() => {
				fn(...params);
			});
		}
	};
	const storeScroll = () => {
		document.documentElement.dataset.scroll = window.scrollY;
	};
	document.addEventListener('scroll',debounce(storeScroll), {passive:true});
	storeScroll();
</script>

<script>
	function on_resize(c,t){onresize=function(){clearTimeout(t);t=setTimeout(c,100)};return c};

	$('#more').hide();

	on_resize( function() {
		var navSpace = $('#links').outerWidth();
		
		var linksWidth = 0;
		$('#links > a').each(function() {
			linksWidth += $(this).outerWidth();	
		});

		if( linksWidth > navSpace ) {
			while( linksWidth > navSpace ) {
				var lastLink = $('#links > a:last');
				var lastLinkWidth = lastLink.outerWidth();
				$(lastLink).data('foo', lastLinkWidth);
				$('#overflow').prepend(lastLink);
				linksWidth -= lastLinkWidth;
			}

			$('#more').show();
			
			//$('#more-label').text( $('#overflow > a').length + 'More...' );
		} else {
			while( linksWidth <= navSpace ) {
				var firstOverflowLink = $('#overflow > a:first');
				var firstOverflowLinkWidth = firstOverflowLink.data('foo');
				if( navSpace - linksWidth > firstOverflowLinkWidth) {
					$('#link').append(firstOverflowLink);
				}
				linksWidth += firstOverflowLinkWidth;
			}
			//$('#more-label').text( $('#overflow > a').length + 'More...' );
			if( $('#overflow > a').length == 0 ) {
				$('#more').hide();
			}
		}
	});
</script>
