/* General regin */

/*================================
       OVER ALL SETTINGS
================================*/
body {
	background-color: #FAFAFA;
	}

.list-container {
	padding: 20px;
	}

.list-container img {
	height: 180px;
	float: center;
	border-radius: 20px;
	}

.list-item_left {
	float: left;
	}
/*==============================
          SIDE BAR
===============================*/
.nav-member {
	padding: 15px;
	}

.nav-member ul {
	list-style: none;
	padding: 0;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	background-color: #EEEEEE;
	}

.nav-member ul a {
	color: black;
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	}

.nav-member li a:hover {
	background-color: #FFFFFF;
	}

/*================================
             NAV
================================*/
.navbar {
	text-transform: uppercase;
	background-color:#790000;
	height: 50px;
	}


.navbar a {
	color: #FEBE90;
	text-align: center;
	text-decoration: none;
	padding: 0px 14px;
	display: block;
	}

/*================================
          TITLE
================================*/

.title {
	height: 100px;
	background-color: #622900;
	display: block;
	text-align: center;
	}

.title h1{
	color: #FFFFFF;
	padding: 20px;
	text-transform: uppercase;
	}

/*================================
           MEMBER INTRO
=================================*/

.intro {
	max-height: 95px;
	overflow: hidden;
	text-overflow: ellipsis;
	}

/*================================
              FOOTER
================================*/

.footer {
	color: #FFFFFF;
	background-color: #000000;
	height: auto;
	}

.footer-element {
	padding: 10px;
	}

/*==================================
        Homepage button
===================================*/

.homepage-buttons {
	height: 40px;
	background-color: #FFC788;
	border-radius: 5px;
	padding: 5px;
	}

.homepage-button{
	padding: 2px;
	}

.homepage-button:hover {
	background-color: #FFFFFF;
	border-radius: 5px;
	}

/* small screen rigin */

@media(max-width:700px) {
	.navbar {
		height: auto;
		}
	
	.navbar-head {
		text-align: center;
		width: 100%;
		}

	.navbar-opts {	
		width: 100%;
		text-align: center;
		margin: 0;
		}
	
	.navbar-opts ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		}

	.navbar-opt li {
		display: block;
		}
	}

@media(min-width:700px) {
	.navbar-head {
		text-align: center;
		float: left;
		}
		
	.navbar-opts {
		list-style-type: none;
		margin: 0;
		padding; 0;
		float: right;
		}

	.navbar-opts ul {
		text-align: center;
		}

	.navbar-opts li {
		display: inline;
		float: left;
		}
	}







