---
layout: base
---

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 offset-lg-3 text-center">
			<h2>
				About Us
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<p>Things about our lab</p>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-2 offset-lg-3">
			<a href="/projects.html">Porjects</a>
		</div>
		<div class="col-sm-2">
			<a href="/members.html">Members</a>
		</div>
		<div class="col-sm-2">
			<a href="/publications.html">Publications</a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>
				NEWS
			</h2>
		</div>
	</div>

	{% for post in site.posts limit: 3 %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<h3>{{post.title}}</h3>
			<p>{{ post.date | date: "%B %e, %Y" }}</p>
			<p>{{ post.excerpt }}</p>
		</div>
	</div>
	{% endfor %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<a href="/news.html">All news for our lab</a>
		</div>
	</div>
</div>
