---
layout: base
---
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<ul>
				<li>
					通訊錄: <br>
					<a href="https://docs.google.com/document/d/17pBgmNbkeEv8ZmBBigDXnXfpfPEdHvsmMxQUdEH5__M/edit">https://docs.google.com/document/d/17pBgmNbkeEv8ZmBBigDXnXfpfPEdHvsmMxQUdEH5__M/edit</a>
				</li>
				<li>
					購買物品與報帳SOP: <br>
					<a href="https://drive.google.com/file/d/1sb3OOs3VkU726Xsb9kSfqMJzve1fueA8/view?pli=1">https://drive.google.com/file/d/1sb3OOs3VkU726Xsb9kSfqMJzve1fueA8/view?pli=1</a>
				</li>
			</ul>
		</div>
	</div>
</div>
