---
layout: base
---

{% assign designations = "Professor, Assistant_Professor, Research_Assistant, Ph.D, Master, Bachelor" | split: ", "%}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 nav-member">
			<ul>
			{% for des in designations %}
				<li><a href="#{{des}}">{{des}}</a></li>
			{% endfor %}
			</ul>
		</div>

		<div class="col-lg-8">
			<div class="container-fluid list-container">
			{% for des in designations %}
			<div>
				<h3 id={{des}}>{{des}}</h3>	
			</div>
			{% assign members = site.data.members | where: "position",des %}
			{% for member in members %}
			<div class="row">
				<div class="col-md-2 offset-md-1">
					{% if member['picture'] %}
					<img src="{{member.picture}}">
					{% endif %}
				</div>

				<div class="col-md-8 offset-md-1">
					<h4>{{ member.name }}</h4>
					<ul>
					<li>{{ member.position }}</li>

					{% if member.homepage %}
					<li><a href="{{ member.homepage }}">Homepage</a></li>
					{% endif %}

					<li>
						Intro:<br>
						<div style="max-height: 95px" class="intro" id="{{member.aka}}">
						{{ member.bio }}
						</div>
						{% assign str_length = member.bio | size %}
						{% if str_length > 200 %}
						<button class="more_{{member.aka}}">...more</button>
						<script>
							$('.more_{{member.aka}}').click(function() {
								$(this).text('...less');
								$(this).removeClass('more_{{member.aka}}');
								$(this).addClass('less_{{member.aka}}');
							});
							$('.less_{{member.aka}}').click(function(){
								$(this).text('...more');
								$(this).removeClass('less_{{member.aka}}');
								$(this).addClass('more_{{member.aka}}');
							});
						</script>
						{% endif %}
					</li>

					{% if member.email %}
					<li>
					e-mail: <a href="{{member.email}}">{{ member.email}}</a>
					</li>
					{% endif %}
			
					{% if member.end_year %}
					<li>{{ member.begin_year }} ~ {{ member.end_year }}</li>
					{% endif %}
			
					{% if member.project %}
					<li>
						Projects: 
						{% for p in member.project %}
						{% if p.url %}
							<a href="{{p.url}}">{{ p.name }}</a>
						{% else %}
							{{ p.name }}
						{% endif %}
						{% endfor %}
					</li>
					{% endif %}
					</ul>
				</div>
			</div>
			{% endfor %}
			<hr>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
