---
layout: base
---
<div class="list-container container">
	{% for proj in site.data.projects %}
	<div class="row">
		<div class="col-md-3 offset-md-2 list-item_left">
			{% if proj['logo'] %}
			<div class="project-image-container">
			<img src='{{ proj.logo}}' alt="Project icon">
			</div>
			{% endif %}
		</div>
		
		<div class="col-md-5">
		<div class="list-item_right">
			<h2>{{ proj._id }}</h2>

			<p>{{ proj.description }}</p>

			<h4>Team</h4>
			{% for person in proj.team  %}
			<p>{{ person.name }}, {{ person.begin_month }} {{ person.begin_year }} ~ {{ person.end_month }} {{ person.end_year }}</p>
			{% endfor %}
			
		</div>
		</div>
	</div>
	{% endfor %}
</div>
