---
layout: base
---
<!--
for y in years
	pubs = filt pub with y
	h2 > y
	for p in pubs
		p
	if not last y
		horizontal line

{{ site.data.publications | sort: "year" }}

-->

<div class="container-fluid">
	{%for pub in site.data.publications %}
	<div class="row">
		<div class="col-sm-6 offset-sm-3">
			<h5>
				{{ pub.title }}
			</h5>

			<p>
				{% for author in pub.authors %}
				{{ author }}
				{% if forloop.last != true %}
					;
				{% endif %}
				{% endfor %}
			</p>

			<p>
				{{ pub.journal }} ({{ pub.month }}-{{ pub.year }})
				<br>
				{% if pub.dois %}
					<a href="{{pub.dois}}">doi</a>
				{% endif %}
				  
				{% if pub.arxiv %}
					<a href="{{pub.arxiv}}">arxiv</a>
				{% endif %}
			</p>
		</div>
	</div>
	{% endfor %}
</div>

